body {
  margin: 0 auto;
}

h1,
h2,
h3,
a {
  text-decoration: none;
  color: black;
}

p {
  color: white;
}

/* Nav. Barra de navegação*/

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 150px;

  margin: 0 auto;
}

nav a {
  display: block;
  width: auto;
  margin-right: 0;
}

/*Primeiro flex da barra de navegação (barra superior)*/

#nav1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #101010;

  width: 100%;
  height: 70%;
  margin-top: -15px;
}

#nav11 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 5%;
}

#pesquisa {
  width: 250px;
  height: 35px;

  border: none;
  border-radius: 30px;
  padding: 7px;

  margin-bottom: -10px;
}

#nav12 {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 95%;
  padding: 10px;
}

/*Segundo flex da barra de navegação (barra inferior)*/

#nav2 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 40%;
  background-color: #161616;
}

#nav2 p {
  margin-left: 20px;
  margin-right: 20px;
}

#logo {
  width: 120px;
  padding: 15px;
}

/*Corpo da página/site */

.bodypage {
  margin: 0 auto;
  padding: 30px 150px 30px 150px;

  background-color: #cdcdcd;
}

/* Conteiner dos produtos */

.Produtos {
  background-color: #03bb85;
  height: 100vh;

  padding: 10px;
  border-radius: 8px;
  background: linear-gradient(to bottom, #03bb85, transparent 350px);

  margin: 0 auto;
}

/* Conteiner dos produtos (flex)*/

.Produtos_ {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding: 15px;
  margin-top: -30px;
  gap: 10px;
}

/* Classe padrão de cada produto */

.prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
  padding: 10px;
  width: 110px;
  height: 150px;

  border-radius: 8px;

  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.prod:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.prod img {
  width: 90px;
  height: 90px;

  border-radius: 8px;
}

.prod a {
  display: block;
}

.prod a h2 {
  margin-top: -3px;
  text-align: start;
}

.prod a h3 {
  margin-top: -15px;
  text-align: start;
}

/* Conteiner do rodapé */

.rodape {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: #161616;
  color: white;

  padding: 50px;
}

.rodape a {
  color: white;
}

.rodape img {
  width: 20%;
}
